<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTeamLabel" jhiTranslate="cricketApp.team.home.createOrEditLabel">Create or edit a Team</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!team.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="team.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cricketApp.team.teamName" for="field_teamName">Team Name</label>
            <input type="text" class="form-control" name="teamName" id="field_teamName"
                [(ngModel)]="team.teamName" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cricketApp.team.teamRules" for="field_teamRules">Team Rules</label>
            <input type="text" class="form-control" name="teamRules" id="field_teamRules"
                [(ngModel)]="team.teamRules" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cricketApp.team.teamDetails" for="field_teamDetails">Team Details</label>
            <input type="text" class="form-control" name="teamDetails" id="field_teamDetails"
                [(ngModel)]="team.teamDetails" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
