
<div *ngIf="team">
    <h2><span jhiTranslate="cricketApp.team.detail.title">Team</span> {{team.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cricketApp.team.teamName">Team Name</span></dt>
        <dd>
            <span>{{team.teamName}}</span>
        </dd>
        <dt><span jhiTranslate="cricketApp.team.teamRules">Team Rules</span></dt>
        <dd>
            <span>{{team.teamRules}}</span>
        </dd>
        <dt><span jhiTranslate="cricketApp.team.teamDetails">Team Details</span></dt>
        <dd>
            <span>{{team.teamDetails}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'team/'+ team.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
